@font-face {
    font-family: 'PhagsPa';
    src: local('../fonts/PhagsPa/PhagsPa'), 
         local('../fonts/PhagsPa/PhagsPa'),  
         url('../fonts/PhagsPa/PhagsPa.woff') format('woff'), 
         url('../fonts/PhagsPa/PhagsPa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PhagsPa';
    src: local('../fonts/PhagsPa Bold/PhagsPa Bold'), 
         local('../fonts/PhagsPa Bold/PhagsPa Bold'),  
         url('../fonts/PhagsPa Bold/PhagsPa Bold.woff') format('woff'), 
         url('../fonts/PhagsPa Bold/PhagsPa Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}