.footer {
    background: $black-base;
    padding:90px 0 37px;
    @media only screen and (max-width: 767px){
        padding:20px 0 10px;
    }
    & .footer-holder {
        display: flex;
        justify-content: space-between;
        align-items:center;
        color: #fff;
        margin:0 auto 75px;

        @media only screen and (max-width: 767px){
            display: flex;
            flex-direction: column;
            margin: 0 0 20px;
        }
    }
}
.footer-links{
      @media only screen and (max-width: 767px){
            position: relative;
            width: 100%;
            text-align: center;
            padding:0 0 37px;
            &:after{
                content: '';
                position: absolute;
                bottom:0;
                left:-9999px;
                right:-9999px;
                height: 1px;
                background: rgba(255,255,255,0.78);
            }
        }
    & ul{ 
        margin:0;
        padding:0;
        list-style: none;
        display: inline-block;
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        @media only screen and (max-width: 767px){
            font-size: 12px;
        }
        & li {
            padding:8px 32px;
            @media only screen and (max-width: 767px){
                padding:20px 18px;
        }
            & a {
                color: #fff;
                text-decoration: none;
                    
                &:hover {
                    color: #fff;
                    opacity: 0.7;
                }
            }
        }
    }
}
   .follow-block {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 767px){
            padding:39px 0 0;
            margin:0 0 28px;
            text-align: center;
        }
        & .fake-input {
            display: inline-block;
            width: 50%;
            background: transparent;
            border-bottom:1px solid #fff;
            height: 40px;
            position: relative;
            @media only screen and (max-width: 898px){
                width: 100%;
            }

            & input.input-inverse {
                border: none;
                background: transparent;
                color: #fff;
                width: 73%;
                padding:0 5px 0 0;
                font-size: 14px;
                line-height: 39px;
            }
            .btn-submit{
                cursor: pointer;
                font-size: 16px;
                color: #fff;
                border: none;
                background: transparent;
                position: absolute;
                right: -5px;
                bottom: 17%;
            }
        }
    & label{
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        margin: 0 40px 0 0;
        @media only screen and (max-width: 767px){
            display: block;
            font-size: 13px;
        }
    }
}
.social-networks {
    margin: 0;
    padding:0;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align:center;
        & li {
            display: inline;
            padding:0 48px 0 0;
            @media only screen and (max-width: 767px){
                padding:0 18px;
            }
            & a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: rgba(255,255,255,0.3);
                }
            }
        }
}
.copyright {
    color: rgba(255,255,255,0.3);
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    padding:39px 0 0;
    position: relative;
        @media only screen and (max-width: 767px){
            padding:19px 0 0;
            font-size: 11px;
            line-height: 15px;
        }
    &:before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        right:0;
        height: 1px;
        background: rgba(255,255,255,0.78);
         @media only screen and (max-width: 767px){
            left:-9999px;
            right: -9999px;
         }
            
    }
    & p{
        margin: 0 0 10px;
    }
}