.order_form{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	flex-direction:row;
	padding:70px 0 170px;
	text-align:center;
	& h2{
		margin: 0 0 76px;
		font-size: 24px;
		line-height: 28px;
		font-weight: bold;
		@media only screen and (max-width: 767px){
			margin: 0;
			font-size: 16px;
			font-weight: bold;
		}
	}
	& input{
		margin-bottom: 60px;
	}
	@media only screen and (max-width: 767px){
		flex-direction: column;
		padding:10px 0 0;
	}
}
input{
	width:100%;
	font-size:18px;
	line-height:43px;
	color:$black-base !important;
	border:none;
	border-bottom:1px solid $black-base;
}
 input::-webkit-input-placeholder {color:$black-base !important;}
 input::-moz-placeholder {
 	color:$black-base;
	opacity: 1;
}
 input:-moz-placeholder {color:$black-base !important;}
 input:-ms-input-placeholder {color:$black-base !important;}

 .personal_data,
 .billing_data,
 .payment_data{
 	display: flex;
 	flex-direction: column;
 	width: 23.68%;
 	font-size: 18px;
 	line-height: 22px;
 	@media only screen and (max-width: 767px){
 		width: 100%;
 		text-align: left;
 	}
 }
.cart_code,
.exp_data,
.address_code{
	width:23.1%;
	border:1px solid $black-base !important;
	padding:0 3px;
	& label{
		margin:0 10px 0;
	}
} 
.address_code{
	width:100%;
}
.cart_info{
	display:flex;
	align-items:center;
}
.form-caption,
.input-field{
	display:flex;
	flex-direction:column;
}
.accordion_toggle{
	display:none;
}
//accordion
/**
* Элемент label который запускает открыть/закрыть.
*/
@media only screen and (max-width: 767px){
.personal_data  label,
.billing_data label,
.payment_data  label{
	display:inline-block;
  	color: $black-base;
  	font-weight: bold;
  	cursor: pointer;
  	background: #ebebeb;
  	font-size: 16px;
  	line-height: 20px;
  	padding:22px 0;
  	border-bottom:1px solid $black-base;
  	position: relative;
  	&:before{
  		content: "\e902";
  		font-family: 'icomoon' !important;
  		font-size: 14px;
  		position: absolute;
  		top:50%;
  		right:14px;
  	}
}
/**
* элементы radio/checkbox всегда должны быть скрыты 
* c помощью нулевых значений свойства clip 
*/
.accordion_toggle {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/**
* скрытое содержание аккордеона
* c помощью нулевых значений свойства clip
*/
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  background-color: #fff;
  color: #444;
}
/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/
.accordion_toggle:checked + .accordion_target {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: auto;
  clip: auto;
  padding: 1.5rem;
 /* задержка появления  функция анимации */
 -webkit-animation:fadeIn ease-in 0.7s; 
 -moz-animation:fadeIn ease-in 0.7s;
 animation:fadeIn ease-in 0.7s; 
}
/* анимация при появлении блоков с содержанием */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
}
.accordion_toggle:checked + label:before{
	transform:rotate(90deg);
}
