.bottom_gallery {
   
   h1 {
        font-size: 35px;
        margin-top: 15px;
    }
}

.gallery_holder {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .product_list {
        position: relative;
        img {
            display: block;
            width: 220px; 
            height: 220px;
            padding-top: 20px;
        }
        &_price {
            position: absolute;
            transform: rotate(-90deg);
            left: 0px;
            top: 90px;
            font-size: 20px;
            font-weight: bold;
        }
        &_name {
            display: none;
            position: absolute;
            left: 20px;
			font-size: 16px;
            font-weight: bold;
        }
        &_desc {
            display: none;
            position: absolute;
            font-size: 13px;
            left: 20px;
            top: 220px;
        }
        &_icon {
            display: none;
            position: absolute;
            left: 150px;
            top: 80px;
            ul> li {
                list-style-type: none;
                padding-bottom: 30px;
            }
            ul> li > a {
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    .product_list:hover p {
        display: block;
    }
    .product_list:hover .product_icon {
        display: block;
    }
}
