@mixin colorlist($width, $height, $background-color, $border: none) {
	width: $width;
	height: $height;
	background-color: $background-color;
	border-color: $border;
				&:hover {
				border-color: darken($background-color, 40%);
				border-width: 2px;
			}
}
 
#product-page .wrapper {
	max-width: 1530px;
	padding: 0 5%;
}

.content-product {
	display: flex;
	justify-content: space-around;
	padding: 0;
	@media only screen and (max-width: 767px){
		flex-direction: column;
	} 
}

.sidebar {
	width: 33%;
}
.product-gallery{
	width:54.5%;
	z-index:-1;
	@media only screen and (max-width: 767px){
		width: 100%;
	}
	& .owl-nav .owl-next,
	& .owl-nav .owl-prev{
		position: absolute;
		top:50%;
		text-indent: -9999px;
		display: inline-block;
		width: 26px;
		height: 60px;
		background-image: url(../images/content/gallery-sprite.png);
		background-position:0 0;
	}
	& .owl-nav .owl-next{
		right:0;
		
		background-position:26px 0;
	}
}
.product{
	&-block {
		width: 67%;
		display: flex;
		flex-direction: column;
		margin-bottom: 20%;
		@media only screen and (max-width: 767px){
		width: 100%;
	}
	}

	&-card {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20%;
		@media only screen and (max-width: 767px){
		flex-direction: column;
	} 
		&-gallery {
		width: 32%;
		margin-top: 14.5%;
		}
		&-name{
			font-size: $font-size-h4;
			margin: 0 0 10%;
		}
	}
}

.description {
	width: 36%;
	margin-left: 11%;
	@media only screen and (max-width: 767px){
		width: 100%;
	}
	&-info {
		display: flex;
		flex-direction: column;
		.descr-price {
			margin: 0 0 10%;
			font-size: $font-size-lg;
			font-weight: 700;
		}
	}
	&-info-more {
		display: flex;
		flex-direction: column;
		.info-more {
			margin: 0 0 15.5%;
			@media only screen and (max-width: 767px){
				display: none;
			}
		}
		.step {
			margin-bottom: 13%;
		}
		> .buttons {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;

				.button{
					font-weight: 700;
					margin-right: 30px;
					&-cart {
					   @include button-size ($padding-vertical: 20px, $padding-horizontal: 36px);
					   @include button-variant() ;
					   margin-bottom: 100px;
					   	:hover {
							color: #f36a3c;
						}
					  }
					&-wish {
						@media only screen and (max-width: 767px){
							display: none;
						}
						@include button-size ($padding-vertical: 20px,  $padding-horizontal: 20px);
						@include button-variant() ;
						:hover {
							color: #f36a3c;
						}
					}

				}
			}
	}
	.colorlist {
		display: flex;
		align-items: center;

		>li:first-child {
			margin-right: 5.7%;
		}
		>li{
			border: 1px solid transparent;
			margin-right: 1px;

		}
		&-yellow {
			@include colorlist ($width: 40px, $height: 40px, $background-color: #f2f1bb);
		}
		&-pink {
			@include colorlist ($width: 40px, $height: 40px, $background-color: #f2cbcd);
		}
		&-lightblue{
			@include colorlist ($width: 40px, $height: 40px, $background-color: #d2ebef);
		}
		>li.active {
			border-color: $black-base;

		}	
	}
}
.step{
	display:flex;
	align-items:center;
	& span{
		display: block;
	}
}

