.sidebar{
  width: 25.5% !important;
  margin:0;
  padding:0;
  list-style:none;
  font-size: 18px;
  line-height: 24px;
  @media only screen and (max-width: 767px){
          display:flex;
          justify-content: space-around;
          width: 100% !important;
          background: #ebebeb;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            z-index: -1;
            left:-9999px;
            right:-9999px;
            background: #ebebeb;
            height: 100%;
          }
        }
    & li{
      padding:0 0 60px;
      font-weight: bold;
      @media only screen and (max-width: 767px){
          padding:10px 5px;
        }
      & label{
        color: $black-base;
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .dropdown {
      margin: 10px 0 0;
      padding: 0;
      list-style: none;
    & li{
      padding:0 0 10px!important;
      & a{
        color:$black-base;
        font-weight: normal;
        text-decoration: none;

        &:hover,
        &:active{
          text-decoration: underline;
        }
      }
    }
  }
}
.link_toggle{
  display: none;
}
.link_toggle {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.dropdown {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  @media only screen and (max-width: 767px){
    background: #ebebeb;
  }
}
.link_toggle:checked + .dropdown {
  position: static;
  overflow: visible;
  width: 100%;
  height: auto;
  margin: auto;
  clip: auto;
 -webkit-animation:fadeIn ease-in 0.7s; 
 -moz-animation:fadeIn ease-in 0.7s;
 animation:fadeIn ease-in 0.7s; 
}
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
.link_toggle:checked + label{
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

