.stepper{
	border-radius: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	.stepper-input{
		font: 24px $font-family-base;
		font-weight: 700;
		display: block;
	    background: $white;
	    border: 1px solid #a0a0a0;
	    border-radius: 0;
	    color: $black-base;
        text-align: center;
        border-left: none;
        border-right: none;
        width: 15%;
        order: 2;
        padding: 0;
	}
	.stepper-arrow{
	    background: $white;
	    border: 1px solid #a0a0a0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 15%;
        text-indent: 0;
        font: 24px $font-family-base;
        font-weight: 700;
        position: relative;
        padding-bottom: 4px;
        &.up{        	
        	border-bottom: 1px solid #a0a0a0;
        	order: 3;
        }
        &.down{
			order: 1;
        }
	}
}