html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color-base;
	background: $body-bg;
}

a {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.img-responsive {
  max-width: 100%; 
  height: auto; 
  display: block;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1-sm}
h4, .h4 { font-size: $font-size-h4-sm}


// alignments
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// float--------------------
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

@mixin link-notunderline() {
  text-decoration: none;
}
.link-notunderline{
  @include link-notunderline;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-base*1.1);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled {
  @include list-unstyled;
}

.list-inline {
  @include list-unstyled;
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

  // p,
  // ul,
  // ol {
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  //------------------------------
  @mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
   @include center-block();
}

input {
  outline: none;
}