
//== Colors
$bleck-base:              #000 !default;
$bleck-light:             lighten($bleck-base, 46.7%) !default; // #777
$bleck-lighter:           lighten($bleck-base, 97.5%) !default; // #eee

//== Scaffolding
$body-bg:              	 	#fff !default;
$footer-bg:              	 $bleck-base !default;
$text-color-base:            $bleck-base !default;
$text-color-second:          $bleck-light !default;
$link-color:             	 $bleck-base !default;
$link-hover-color:      	lighten($bleck-base, 15%) !default;
$link-hover-decoration: 	underline !default;

//== Typography
$font-family-base:  	"PhagsPa", Helvetica, Arial, sans-serif !default;
$font-family-second:       Georgia, "Times New Roman", Times, serif !default;

$font-size-base:         14px !default;
$font-size-lg:         	ceil(($font-size-base * 1.2857)) !default; // ~18px
$font-size-md:         	ceil(($font-size-base * 0.9643)) !default; // ~13.5px
$font-size-sm:         	ceil(($font-size-base * 0.7143)) !default; // ~10px

$font-size-h1:            floor(($font-size-base * 2.571)) !default; // ~36px
$font-size-h4:            ceil(($font-size-base * 1.2857)) !default; // ~18px
// $font-size-h2:            floor(($font-size-base * 2.143)) !default; // ~30px
// $font-size-h3:            ceil(($font-size-base * 1.715)) !default; // ~24px
// $font-size-h5:            $font-size-base !default;
// $font-size-h6:            ceil(($font-size-base * 0.857)) !default; // ~12px

$line-height-base:        1.28571429 !default; // 18/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~18px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;



