.order_form{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	padding:70px 0 170px;
	text-align:center;
	& h2{
		margin: 0 0 76px;
	}
	& input{
		margin-bottom: 60px;
	}
}
input{
	width:100%;
	font-size:18px;
	line-height:43px;
	color:$black-base !important;
	border:none;
	border-bottom:1px solid $black-base;
}
 input::-webkit-input-placeholder {color:$black-base !important;}
 input::-moz-placeholder {
 	color:$black-base;
	opacity: 1;
}
 input:-moz-placeholder {color:$black-base !important;}
 input:-ms-input-placeholder {color:$black-base !important;}
 .personal_data,
 .billing_data,
 .payment_data{
 	display: flex;
 	flex-direction: column;
 	width: 23.68%;
 	font-size: 18px;
 	line-height: 22px;
 }
.cart_code,
.exp_data,
.address_code{
	width:23.1%;
	border:1px solid $black-base !important;
	padding:0 3px;
	& label{
		margin:0 10px 0;
	}
} 
.address_code{
	width:100%;
}
