.main{
	max-width: 1920px;
}

.main-img{
	width: 100%;
	height: auto;
	padding-bottom: 16.36%; //250px
}

.main-block{
	max-width: 1528px;
	padding: 0 12.83%; //196px
	padding-bottom: 11.71%; //179px
	background-image: url(../../images/content/main-bg1.jpg), url(../../images/content/main-bg2.jpg), url(../../images/content/main-bg3.jpg);
	background-position: 8.57% 7.63%, 83.4% 50.9%, 33.7% 79.24%; // 131px  193px, 1305px 1175px, 408px 1822px
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 6.5% auto, 4.7% auto, 3.3% auto;
		h1{
			margin-top: 0;
			margin-bottom: 3%; //46px
		}
}

.block-img {
	&-1{
		width: 32.1%;
		position: relative;
		left: 68.06%;//1040px
		top: 0;
	}
	&-2{
		width: 29.52%;
		position: relative;
		//top:-6.1%;
		left: 19.5%;//298px
		margin-top: -8%;//122px
	}
	&-3{
		width: 27.49%;
		position: relative;
		//top: -18.7%;
		//left: -0.10%;
		margin-top: -23.3%; //357px
	}
	&-4{
		width: 32.1%;
		position: relative;
		//top: -18.7%;
		left: 50.7%;//775px
		margin-top: -1%;//15px
	}
}

.collection{
	position: relative;
}

.name-collection{
		position: absolute;
		&-1{
			top: 40.2%;
    		left: 53.8%;
		}
		&-2{
			bottom: 59.9%;//1116px 1150
			left: 148.2%;//607px  810
  			width: 100%;
		}
		&-3{
			bottom:9.4%;//100px  180
			left: 43.7%;//659px 858
		}
}

