
@import 'components/normalize';
@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';
@import 'components/type';



@import 'components/icons/style';

@import 'components/buttons';
@import 'components/main-img';


@import 'components/header';
@import 'components/wishlist';
@import 'components/gallery_bottom';
@import 'components/footer';

@import 'components/stepper';