@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?vedhg4');
    src:    url('#{$icomoon-font-path}/icomoon.eot?vedhg4#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?vedhg4') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?vedhg4') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?vedhg4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wishlist {
    &:before {
        content: $icon-wishlist;
    }
}
.icon-cart .path1 {
    &:before {
        content: $icon-cart-path1;    
        color: rgb(255, 255, 255);
    }
}
.icon-cart .path2 {
    &:before {
        content: $icon-cart-path2;    
        margin-left: -0.8056640625em;    
        color: rgb(29, 29, 27);
    }
}
.icon-cart .path3 {
    &:before {
        content: $icon-cart-path3;    
        margin-left: -0.8056640625em;    
        color: rgb(29, 29, 27);
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-pinterest {
    &:before {
        content: $icon-pinterest;
    }
}
.icon-google {
    &:before {
        content: $icon-google;
    }
}

