$icomoon-font-path: "../fonts" !default;

$icon-wishlist: "\e900";
$icon-cart-path1: "\e901";
$icon-cart-path2: "\e902";
$icon-cart-path3: "\e903";
$icon-search: "\e905";
$icon-arrow-right2: "\e904";
$icon-instagram: "\e906";
$icon-twitter: "\e907";
$icon-facebook: "\e908";
$icon-pinterest: "\e909";
$icon-google: "\e90a";

